<div layout="column" layout-align="center center" class="item" ng-class="{'editing-item': editing, 'edited': recipe.edited}"
  ng-repeat="recipe in recipes">

  <label ng-hide="editing" ng-click="editing = true">
    <md-icon md-svg-icon="plate" aria-label="recipe"></md-icon>{{recipe.name}}
    </label>
  <md-content>
    <md-input-container>
      <label>Recipe name:</label>
      <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.name" ng-change="recipe.edited = true"
      />
    </md-input-container>
  </md-content>
  <md-input-container>
    <label>Recipe:</label>
    <textarea ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.ingredients" ng-change="recipe.edited = true"
    />
  </md-input-container>
  <div class="actions">
    <md-button class="md-raised md-primary">
      <a href="" ng-click="saveRecipes()">Save</a>
    </md-button>
    <md-button class="md-raised md-primary">
      <a href="" class="delete" ng-click="deleteRecipe(recipe, $index)">Delete</a>
    </md-button>
  </div>

</div>