<div layout="column" id="recipediv" class="item" ng-class="{'editing-item': editing, 'edited': recipe.edited}">

  <md-card>
    <md-card-content ng-hide="editing" ng-click="editing = true">
      <label>
        <md-icon style="padding-right: 10px;" md-svg-icon="plate" aria-label="recipe"></md-icon>{{recipe.name}}
      </label>
    </md-card-content>
  </md-card>

  <md-card id="recipecard" ng-show="editing" ng-blur="editing = false" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
    md-theme-watch>
    <md-card-title>

      <md-card-title-text>
        <md-input-container>
          <label>Recipe name:</label>
          <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.name" ng-change="recipe.edited = true"
          />
        </md-input-container>

        <md-input-container>
          <label>Description:</label>
          <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.description" ng-change="recipe.edited = true"
          />
        </md-input-container>

        <md-input-container>
          <label>Ingredients:</label>
          <textarea ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.ingredients" ng-change="recipe.edited = true"
          />

          <md-list class="md-2-line">
            <md-list-item>{{recipe.ingredients}}</md-list-item>
          </md-list>


          <!-- <md-button class="md-raised md-primary">
            <a style="text-decoration: none; margin-right: 5px;" href="#" ng-click="addIngredient()">
              + Add an ingredient</a>
            <md-icon md-svg-icon="plate" aria-label="Add recipe"></md-icon>
          </md-button> -->


        </md-input-container>

        <md-input-container>
          <label>Directions:</label>
          <textarea ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.directions" ng-change="recipe.edited = true"
          />
        </md-input-container>
      </md-card-title-text>

      <md-card-title-media>
        <div class="md-media-md card-media"></div>
      </md-card-title-media>

    </md-card-title>

    <md-card-actions layout="row" layout-align="center">
      <md-button class="md-raised md-primary">
        <a style="text-decoration: none;" href="" ng-click="saveRecipes()">Save</a>
      </md-button>
      <md-button class="md-raised md-primary">
        <!--<a href="" class="delete" ng-click="showConfirm(recipe, $index, $event)">Delete</a>-->
        <a style="text-decoration: none;" href="" class="delete" ng-click="deleteRecipe(recipe, $index)">Delete</a>
      </md-button>
    </md-card-actions>
  </md-card>


  <!--<md-input-container>
    <label>Recipe name:</label>
    <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.name" ng-change="recipe.edited = true"
    />
  </md-input-container>

  <md-input-container>
    <label>Ingredients:</label>
    <textarea ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.ingredients" ng-change="recipe.edited = true"
    />
  </md-input-container>

  <md-input-container>
    <label>Directions:</label>
    <textarea ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.directions" ng-change="recipe.edited = true"
    />
  </md-input-container>-->


  <!--<div class="actions">
    <md-button class="md-raised md-primary">
      <a href="" ng-click="saveRecipes()">Save</a>
    </md-button>
    <md-button class="md-raised md-primary">
      <!--<a href="" class="delete" ng-click="showConfirm(recipe, $index, $event)">Delete</a>-->
  <!--<a href="" class="delete" ng-click="deleteRecipe(recipe, $index)">Delete</a>
    </md-button>
  </div>-->

</div>