<div layout="column" layout-align="center center" class="item" ng-class="{'editing-item': editing, 'edited': recipe.edited}" ng-repeat="recipe in recipes">
  <md-icon md-svg-icon="plate" aria-label="recipe"></md-icon>
  <label ng-hide="editing" ng-click="editing = true">{{recipe.name}}</label>
  <md-input-container>
    <label>Recipe name:</label>
    <input ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.name" ng-change="recipe.edited = true"
    />    
  </md-input-container>
  <md-input-container>
    <label>Ingredients:</label>
    <textarea ng-show="editing" ng-blur="editing = false" class="editing-label" type="text" ng-model="recipe.ingredients" ng-change="recipe.edited = true"
    />    
  </md-input-container>
  <div class="actions">
    <a href="" ng-click="saveRecipes()">Save</a>
    <a href="" class="delete" ng-click="deleteRecipe(recipe, $index)">Delete</a>
  </div>

</div>